Repository spiral/roadrunner-bridge, pull requests merged in 2022-12, with the labels that each got.

#57 Fixes problem with making cache storage with container factory.
  src/Bootloader/CacheBootloader.php
  tests/src/Bootloader/CacheBootloaderTest.php
Labels: bug, Component: Cache

#58 Adding the ability to generate client, config, bootloader in the GRPC
  .styleci.yml
  composer.json
  src/Bootloader/GRPCBootloader.php
  src/Config/GRPCConfig.php
  src/Console/Command/GRPC/GenerateCommand.php
  src/GRPC/Generator/BootloaderGenerator.php
  src/GRPC/Generator/ConfigGenerator.php
  src/GRPC/Generator/GeneratorInterface.php
  src/GRPC/Generator/GeneratorRegistry.php
  src/GRPC/Generator/GeneratorRegistryInterface.php
  src/GRPC/Generator/ServiceClientGenerator.php
  src/GRPC/Interceptor/ServiceClientCore.php
  src/GRPC/ServiceLocator.php
  tests/app/GRPC/Generator/Bootloader/ExpectedBootloader.php
  tests/app/GRPC/Generator/Config/ExpectedConfig.php
  tests/app/GRPC/Generator/ExpectedServiceClient.php
  tests/app/GRPC/Generator/UsersServiceInterface.php
  tests/src/Bootloader/GRPCBootloaderTest.php
  tests/src/Config/GRPCConfigTest.php
  tests/src/ConsoleTestCase.php
  tests/src/GRPC/Generator/BootloaderGeneratorTest.php
  tests/src/GRPC/Generator/ConfigGeneratorTest.php
  tests/src/GRPC/Generator/GeneratorRegistryTest.php
  tests/src/GRPC/Generator/ServiceClientGeneratorTest.php
Labels: Feature, Component: GRPC

#59 Removing assert in the ServiceClientCore
  src/GRPC/Interceptor/ServiceClientCore.php
Labels: bug
