Repository spiral/roadrunner-bridge, pull requests merged in 2022-11, with the labels that each got.

#41 Add grpc interceptors
  src/Bootloader/GRPCBootloader.php
  src/Config/GRPCConfig.php
  src/GRPC/Interceptor/Invoker.php
  src/GRPC/Interceptor/InvokerCore.php
  tests/app/GRPC/Message.php
  tests/app/GRPC/PingService.php
  tests/src/Bootloader/GRPCBootloaderTest.php
  tests/src/Config/GRPCConfigTest.php
  tests/src/GRPC/Interceptor/InvokerCoreTest.php
  tests/src/GRPC/Interceptor/InvokerTest.php
Labels: Improvement, Component: GRPC

#43 Adds integration with centrifuge RoadRunner plugin
  README.md
  composer.json
  src/Bootloader/CentrifugoBootloader.php
  src/Centrifugo/Broadcast.php
  src/Centrifugo/Dispatcher.php
  src/Centrifugo/ErrorHandlerInterface.php
  src/Centrifugo/Exception/CentrifugoException.php
  src/Centrifugo/Exception/ConfigurationException.php
  src/Centrifugo/Interceptor/InterceptorRegistry.php
  src/Centrifugo/Interceptor/RegistryInterface.php
  src/Centrifugo/LogErrorHandler.php
  src/Centrifugo/RegistryInterface.php
  src/Centrifugo/RequestHandler.php
  src/Centrifugo/ServiceInterface.php
  src/Centrifugo/ServiceRegistry.php
  src/Config/CentrifugoConfig.php
  src/Config/TcpConfig.php
  src/FailbackDispatcher.php
  src/RoadRunnerMode.php
  tests/app/Broadcast/StringableTopic.php
  tests/app/Centrifugo/OtherInterceptor.php
  tests/app/Centrifugo/TestInterceptor.php
  tests/app/Centrifugo/TestService.php
  tests/src/Bootloader/CentrifugoBootloaderTest.php
  tests/src/Bootloader/GRPCBootloaderTest.php
  tests/src/Bootloader/HttpBootloaderTest.php
  tests/src/Bootloader/TcpBootloaderTest.php
  tests/src/Centrifugo/BroadcastTest.php
  tests/src/Centrifugo/DispatcherTest.php
  tests/src/Centrifugo/Interceptor/InterceptorRegistryTest.php
  tests/src/Centrifugo/LogErrorHandlerTest.php
  tests/src/Centrifugo/RequestHandlerTest.php
  tests/src/Centrifugo/ServiceRegistryTest.php
  tests/src/Config/CentrifugoConfigTest.php
  tests/src/TestCase.php
Labels: Improvement, Component: Broadcasting

#49 Add proto file repository
  README.md
  src/Bootloader/GRPCBootloader.php
  src/Console/Command/GRPC/GenerateCommand.php
  src/GRPC/ProtoRepository/CompositeRepository.php
  src/GRPC/ProtoRepository/FileRepository.php
  src/GRPC/ProtoRepository/ProtoFilesRepositoryInterface.php
  tests/src/Bootloader/GRPCBootloaderTest.php
  tests/src/GRPC/ProtoRepository/CompositeProtoFilesRepositoryTest.php
  tests/src/GRPC/ProtoRepository/FileRepositoryTest.php
Labels: Feature, Component: GRPC

#48 Add generatedPath and servicesBasePath to GRPC config
  README.md
  src/Bootloader/GRPCBootloader.php
  src/Config/GRPCConfig.php
  src/Console/Command/GRPC/GenerateCommand.php
  src/GRPC/CommandExecutor.php
  src/GRPC/ProtoCompiler.php
  src/GRPC/ProtocCommandBuilder.php
  tests/app/config/grpc.php
  tests/src/Bootloader/GRPCBootloaderTest.php
  tests/src/Config/GRPCConfigTest.php
  tests/src/GRPC/ProtocCommandBuilderTest.php
Labels: Feature, Component: GRPC

#50 Add discord link
  README.md
  src/GRPC/ProtocCommandBuilder.php
  tests/src/GRPC/ProtocCommandBuilderTest.php
Labels: Improvement

#52 Replace MonologBootloader with RoadRunnerBootloader in LoggerBootloader dependencies
  src/Bootloader/LoggerBootloader.php
Labels: bug, Component: Logger
