Repository spiral/roadrunner-bridge, pull requests merged in 2023-12, with the labels that each got.

#81 [queue] Payload Type Detector for Enhanced Payload Data Deserialization
  src/Bootloader/QueueBootloader.php
  src/Queue/Dispatcher.php
  src/Queue/PayloadDeserializer.php
  src/Queue/PayloadDeserializerInterface.php
  tests/src/Bootloader/QueueBootloaderTest.php
  tests/src/Queue/DispatcherTest.php
  tests/src/Queue/Fixtures/JobHandlerUnionTypeWithString.php
  tests/src/Queue/Fixtures/JobHandlerWithoutClass.php
  tests/src/Queue/Fixtures/JobHandlerWithoutMethod.php
  tests/src/Queue/Fixtures/JobHandlerWithoutPayload.php
  tests/src/Queue/Fixtures/JobHandlerWithoutType.php
  tests/src/Queue/Fixtures/PayloadClass.php
  tests/src/Queue/Fixtures/PayloadClassJobHandler.php
  tests/src/Queue/Fixtures/UnionTypeJobHandler.php
  tests/src/Queue/PayloadDeserializerTest.php
Labels: enhancement, Feature, Component: Queue

#92 Add Message Object Access in Interceptors for gRPC Component
  .gitignore
  .styleci.yml
  composer.json
  src/GRPC/Interceptor/Invoker.php
  src/GRPC/Interceptor/InvokerCore.php
  tests/app/GRPC/Message.php
  tests/app/GRPC/PingService.php
  tests/generated/GPBMetadata/Service.php
  tests/generated/Service/Message.php
  tests/generated/Service/PingInterface.php
  tests/generated/Service/PingService.php
  tests/src/GRPC/DispatcherTest.php
  tests/src/GRPC/Interceptor/InvokerCoreTest.php
  tests/src/GRPC/Interceptor/InvokerTest.php
Labels: Improvement, Component: GRPC

#95 Enhancements to Centrifugo Handler Class Generator
  src/Console/Command/Scaffolder/CentrifugoHandlerCommand.php
  src/Scaffolder/Declaration/CentrifugoHandlerDeclaration.php
  tests/src/Console/Command/Scaffolder/CentrifugoHandlerCommandTest.php
Labels: Component: Centrifugo

#96 Adding Exception handling when searching for a handler
  src/GRPC/ServiceLocator.php
  src/Queue/PayloadDeserializer.php
  tests/src/Queue/PayloadDeserializerTest.php
Labels: bug
