Repository spiral/roadrunner-bridge, pull requests merged in 2023-03, with the labels that each got.

#66 Fixing OptionsInterface assert
  src/Queue/RPCPipelineRegistry.php
Labels: bug, Component: Queue

#68 Updates console commands for queue and cache component
  src/Bootloader/CommandBootloader.php
  src/Console/Command/Cache/ClearCommand.php
  src/Console/Command/Queue/DeprecatedListCommand.php
  src/Console/Command/Queue/DeprecatedPauseCommand.php
  src/Console/Command/Queue/DeprecatedResumeCommand.php
  src/Console/Command/Queue/ListCommand.php
  src/Console/Command/Queue/PauseCommand.php
  src/Console/Command/Queue/ResumeCommand.php
  tests/app/GRPC/Generator/Bootloader/ExpectedBootloader.php
  tests/app/GRPC/Generator/ExpectedServiceClient.php
  tests/src/Bootloader/CentrifugoBootloaderTest.php
  tests/src/Console/Command/Queue/ListCommandTest.php
  tests/src/Console/Command/Queue/PauseCommandTest.php
  tests/src/Console/Command/Queue/ResumeCommandTest.php
Labels: enhancement, Improvement, Component: Queue

#69 Updates style of roadrunner jobs list command.
  src/Console/Command/Queue/ListCommand.php
  tests/src/Console/Command/Queue/ListCommandTest.php
Labels: Improvement, Component: Queue

#72 Prevent declaration if it was declared earlier
  src/Queue/RPCPipelineRegistry.php
  tests/src/Queue/RPCPipelineRegistryTest.php
Labels: bug, Component: Queue
